@import url(https://db.onlinewebfonts.com/c/80af27dce2efeecc910be0be75728730?family=Daft+Font); 

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*BODY*/
body {
    font-family: 'Roboto', sans-serif;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}